<% articles.each do |article| %>
  <div class="p-4 border border-gray-300 rounded-lg mb-2">
    <h2>
      <%= article.title %>
    </h2>
    <p>
      <%= article.description %>
    </p>
    <p>
      <%= link_to "Show this article", article, class: "text-blue-500" %>
    </p>
  </div>
<% end %>